:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #f1e6eb;
  color: #d0cdcd;
  background-image: url(images/baseball.jpg);
}

h1 {
  /* font-family: 'Homemade Apple', cursive; */
  text-align: center;
  font-family: 'Syne Mono', monospace;
  margin: 1rem 0 3rem 0;
  font-size: 70px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  min-width: 20rem;
  border: thin solid #7c7c7c;
  border-radius: 0.3rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  opacity: 0.8;
}
.changeteamname {
  font-size: 18px;
  color: black;
}

section h2,
section p {
  text-align: center;
  color: #d52f2f;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

section h3 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 7rem;
  color: #111;
  /* font-family: 'Cairo', sans-serif; */

  font-family: 'Homemade Apple', cursive;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  color: green;
}

fieldset i.subtract {
  color: #f64545;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #d52f2f;
}
